.container {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

h1 {
  font-family: "Tourney", cursive;

  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

body {
  background: linear-gradient(to right, rgb(94, 94, 94), rgb(255, 255, 255));
}
